<!DOCTYPE html>
<html>
    <head>
    <title>Warden booking application</title>
    </head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <body>

        <h1>Welcome to Warden!</h1>
        {% if current_user.is_authenticated %}
            <h4><a href="{{ url_for('logout_page.logout') }}">Logout</a></h4>
        {% endif %}
        <div class="main-content">
            {% block content %}
            {% endblock content %}
        </div>

        <p>Here.</p>

    </body>
</html>


